{% include "languages.md.j2" %}

Ваш Шлюз Streisand содержит пошаговые инструкции для сервисов, которые он предоставляет, а также для зеркал всего необходимого программного обеспечения.

{% if le_ok %}
Эта страница показывает, как подключиться к Шлюзу чтобы настроить клиенты и использовать интерфейс Streisand.
{% else %}
Эта страница содержит инструкции по установке сертификатов SSL и покажет Вам, как соединиться со Шлюзом чтобы использовать сервисы, предоставляемые Streisand.
{% endif %}

---
{% if not le_ok %}
* [Установка SSL-сертификатов](#ssl)
  * [Windows](#ssl-windows)
  * [macOS](#ssl-macos)
  * [Android](#ssl-android)
  * [iOS](#ssl-ios)
  * [Chromium](#ssl-chromium)
  * [Firefox](#ssl-firefox)
  * [Проверить подлинность сертификатов вручную](#ssl-manual)
{% endif %}
* [Соединение с вашим Шлюзом Streisand](#connecting)
  * [SSL](#connecting-ssl)
{% if streisand_tor_enabled %}
  * [Скрытый сервис в сети Tor](#connecting-tor)
{% endif %}


{% if not le_ok %}
<a name="ssl"></a>
Установка SSL-сертификатов
----------------------------
Вы должны установить SSL-сертификат Шлюза, чтобы ваш браузер смог проверить подлинность соединения в автоматическом режиме. Это не позволяет другим вмешиваться в ваш трафик, а также защищает ваши данные для входа. Сертификат находится непосредственно в этой HTML-странице и Вы можете скачать его здесь:
<p><a download="{{ streisand_ipv4_address }}.crt" id="download" href="data:application/x-x509-ca-cert;base64,{{ streisand_certificate_data_uri.stdout }}">Скачать сертификат</a></p>


<a name="ssl-windows"></a>
### Windows ###
Эти инструкции работают для Chrome и Internet Explorer. Firefox использует свой собственный менеджер сертификатов, но его также можно [быстро настроить](#ssl-firefox).

1. [Скачайте](#download) SSL-сертификат, встроенный в эту страницу.
1. Дважды кликните по скачанному файлу, чтобы открыть SSL-сертификат.
1. Нажмите *Установить сертификат...*
1. Запустится Мастер импорта сертификатов. Нажмите *Далее*.
1. Выберите *Поместить все сертификаты в следующее хранилище* и нажмите *Обзор*.
1. Выберите *Доверенные корневые центры сертификации* и нажмите *OK*.
1. Нажмите *Далее* и затем *Завершить*.
1. Подтвердите, что вы хотите установить сертификат, нажав *Да*.
1. Закройте и откройте заново Ваш браузер.
1. Всё готово к подключению. См. [Соединение с вашим Шлюзом Streisand](#connecting-ssl).


<a name="ssl-macos"></a>
### macOS ###
Эти инструкции работают для Chrome и Safari. Firefox использует свой собственный менеджер сертификатов, но его также можно [быстро настроить](#ssl-firefox).

1. Зайдите в *Программы > Утилиты* и запустите *Доступ к keychain*.
1. [Скачайте](#download) SSL-сертификат, встроенный в эту страницу.
1. Перетащите скачанный сертификат в раздел связки ключей для входа.
1. Появится окно с вопросом, хотите ли вы доверять сертификату. Нажмите *Доверять всегда*.
1. Введите свой пароль в ответ на приглашение системы и нажмите *Обновить настройки*.
1. Нажмите правой кнопкой мыши на импортированный сертификат и нажмите *Получить информацию*.
1. Нажмите на стрелку рядом с *Доверие*, появится больше вариантов выбора.
1. Выберите *Всегда доверять* рядом с опцией *Протокол безопасных коммуникаций (SSL)*.
1. Закройте окно сертификата и введите свой пароль снова
1. Всё готово к подключению. См. [Соединение с вашим Шлюзом Streisand](#connecting-ssl).


<a name="ssl-android"></a>
### Android ###
Эти инструкции работают для Chrome. Firefox для Android использует свой собственный менеджер сертификатов, но пока не предоставляет никакого интерфейса для импорта сертификатов. Поэтому, сейчас Chrome является предпочтительным браузером для подключения к Шлюзу Streisand.

#### Менее безопасный, но более простой способ ####
1. [Скачайте](#download) SSL-сертификат, встроенный в эту страницу.
1. Перешлите скачанный сертификат на адрес, который Вы сможете открыть на устройстве Android.
1. Откройте сообщение и нажмите на вложенный сертификат.
1. Появится всплывающее окно. Введите {{ streisand_server_name }} в поле *Имя сертификата*, и убедитесь, что в поле *Использование сертификата* выбрано *VPN и приложения*.
1. Нажмите *OK*.
1. Всё готово к подключению. См. [Соединение с вашим Шлюзом Streisand](#connecting-ssl).

#### Более безопасный метод ####
1. Подключите устройство Android к вашему компьютеру.
1. [Скачайте](#download) SSL-сертификат, встроенный в эту страницу.
1. Перетащите скачанный сертификат в корневую папку файловой системы вашего устройства Android.
1. Запустите приложение *Настройки*.
1. Пролистайте в секцию *Личные* и нажмите *Безопасность*.
1. Пролистайте к пункту *Хранилище сертификатов* и нажмите *Установить с карты памяти*.
1. Выберите сертификат, который вы ранее скопировали на свое устройство.
1. Введите {{ streisand_server_name }} в поле *Имя сертификата*, 
1. Появится всплывающее окно. Введите {{ streisand_server_name }} в поле *Имя сертификата*, и убедитесь, что в поле *Использование сертификата* выбрано *VPN и приложения*.
1. Нажмите *OK*.
1. Всё готово к подключению. См. [Соединение с вашим Шлюзом Streisand](#connecting-ssl).


<a name="ssl-ios"></a>
### iOS ###
#### Менее безопасный, но более простой способ ####
1. [Скачайте](#download) SSL-сертификат, встроенный в эту страницу.
1. Перешлите скачанный сертификат на адрес, который Вы сможете открыть на устройстве iOS.
1. Откройте сообщение в приложении iOS "Почта" и нажмите на вложенный сертификат.
1. Появится экран *Установка профиля*. Вы можете просмотреть сведения о сертификате и проверить, что они совпадают с информацией из раздела <a href="#verification">Проверка SSL</a>. Нажмите *Установить*.
1. Нажмите *Установить* еще раз, когда появится предупреждение.
1. Нажмите *Готово*.
1. Всё готово к подключению. См. [Соединение с вашим Шлюзом Streisand](#connecting-ssl).

#### Более безопасный метод ####
1. Подключите устройство iOS к вашему компьютеру с macOS.
1. Нажмите *Доверять*, если появится экран *Доверять этому компьютеру?*.
1. Установите утилиту <a href="https://itunes.apple.com/us/app/apple-configurator-2/id1037126344?mt=12">Apple Configurator 2</a> из Mac App Store.
1. Запустите утилиту Apple Configurator и согласитесь с лицензией.
1. Нажмите *Начать подготовку устройств*.
1. Нажмите *Установить профили...*.
1. Включите телефон и разблокируйте его.
1. Нажмите *Далее*.
1. Нажмите *Новый* и введите "{{ streisand_server_name }}" в поле *Имя* в разделе *Общие*
1. Пролистайте до раздела *Сертификаты*.
1. [Скачайте](#download) SSL-сертификат, встроенный в эту страницу.
1. Нажмите *Настроить*, выберите скачанный сертификат и нажмите *Открыть*.
1. Нажмите *Сохранить*.
1. Установите галочку рядом с профилем "{{ streisand_server_name }}". Нажмите *Далее*.
1. Появится экран *Установка профиля*. Вы можете просмотреть сведения о сертификате и проверить, что они совпадают с информацией из раздела <a href="#verification">Проверка SSL</a>. Нажмите *Установить*.
1. Нажмите *Установить* еще раз, когда появится предупреждение.
1. Нажмите *Готово*.
1. Всё готово к подключению. См. [Соединение с вашим Шлюзом Streisand](#connecting-ssl).


<a name="ssl-chromium"></a>
### Chromium ###
1. Нажмите кнопку меню и зайдите в *Настройки*.
1. Прокрутите вниз окна и нажмите *Показать дополнительные параметры...*.
1. Прокрутите в раздел *HTTPS/SSL* и нажмите *Управление сертификатами...*
1. Зайдите на вкладку *Центры сертификации*.
1. [Скачайте](#download) SSL-сертификат, встроенный в эту страницу.
1. Нажмите *Импортировать...*, выберите скачанный сертификат и нажмите *Открыть*.
1. Появится всплывающее окно. Установите галочку напротив *Доверять данному центру сертификации для идентификации веб-сайтов* и нажмите *OK*.
1. Нажмите *Готово*.
1. Всё готово к подключению. См. [Соединение с вашим Шлюзом Streisand](#connecting-ssl).


<a name="ssl-firefox"></a>
### Firefox ###
1. Запустите Firefox.
1. Откройте меню *Правка* и нажмите *Настройки*.
1. Откройте вкладку *Приватность и защита*.
1. Найдите заголовок *Безопасность > Сертификаты*.
1. Нажмите *Просмотреть сертификаты*.
1. Появится окно. Нажмите на вкладку *Центры сертификации*.
1. [Скачайте](#download) SSL-сертификат, встроенный в эту страницу.
1. Нажмите *Импорт...*, выберите скачанный сертификат и нажмите *Открыть*.
1. Появится всплывающее окно. Установите галочку напротив *Доверять данному центру сертификации для идентификации веб-сайтов* и нажмите *OK*.
1. Нажмите *OK* чтобы закрыть менеджер сертификатов, затем закройте окно *Настройки*.
1. Всё готово к подключению. См. [Соединение с вашим Шлюзом Streisand](#connecting-ssl).


<a name="ssl-manual"></a>
### Ручная проверка SSL-сертификата ###
*Ручная проверка сертификата значительно менее безопасна, чем установка сертификата, используя один из способов выше. Ваш браузер будет показывать предупредительные сообщения, и вы станете более уязвимы к атакам "человек посередине", так как придется сверять отпечатки сертификата при каждой попытке подключения. Вы должны использовать ручную проверку с большой осторожностью, и только в качестве последней возможности."

Информация о сертификате должна совпадать со следующими значениями:

##### Порядковый номер #####
`{{ ssl_certificate_serial_number.stdout }}`

##### Отпечатки #####
{% for fingerprint in ssl_certificate_fingerprints.results %}
    {{ fingerprint.stdout }}
{% endfor %}

Если все совпало, вы готовы к подключению. Смотрите [Соединение с вашим Шлюзом Streisand](#connecting-ssl).
{% endif %}


<a name="connecting"></a>
Соединение с вашим Шлюзом Streisand
-----------------------------------

<a name="connecting-ssl"></a>
### SSL ###
{% if le_ok %}
[{{ streisand_domain }}](https://{{ streisand_domain }})
{% else %}
[{{ streisand_gateway_url }}]({{ streisand_gateway_url }})
{% endif %}

имя пользователя: `{{ streisand_gateway_username }}`
пароль: `{{ streisand_gateway_password.stdout }}`

{% if streisand_tor_enabled %}
<a name="connecting-tor"></a>
### Скрытый сервис в сети Tor ###
*Все соединения к скрытым сервисам Tor полностью зашифрованы.*

[{{ tor_hidden_service_url }}]({{ tor_hidden_service_url }})

имя пользователя: `{{ streisand_gateway_username }}`
пароль: `{{ streisand_gateway_password.stdout }}`
{% endif %}
