{% include "languages.md.j2" %}

Мост Tor
--------

---
* Платформы
  * [Настольные ПК](#desktops)
  * [Android](#android)
  * [iOS](#ios)

<a name="desktops"></a>
### Настольные ПК ###
1. Скачайте ПО [Tor Browser Bundle](/mirror/tor/) для вашей выбранной платформы. Подключаемый транспорт obfs4 в его составе позволит вам использовать сеть Tor даже если ваш провайдер использует глубокую фильтрацию пакетов в попытке заблокировать весь трафик Tor.
1. Запустите Tor Browser Bundle.
1. Нажмите кнопку *Настроить* под надписью *Мне нужно настроить мост, межсетевой экран или прокси*.
1. Ответьте *Да* на вопрос *Мой провайдер блокирует или цензурирует соединения с сетью Tor?*
1. Выберите пункт *Ввести собственные мосты*, и введите следующую информацию в текстовое поле:

         {{ tor_obfs4_bridge_line }}
1. Ответьте на вопрос о настройке местного (локального) прокси. В большинстве случаев, нужно ответить *Нет*.
1. Нажмите *Подключиться.*

Все готово! Tor подключился к серверу-мосту *{{ tor_bridge_nickname.stdout }}*, и теперь ваш зашифрованный трафик полностью изменен с помощью obfsproxy так, что он совсем не выглядит как трафик Tor!

<a name="android"></a>
### Android ###
1. Скачайте [Orbot](https://play.google.com/store/apps/details?id=org.torproject.android) и запустите его.
1. Коснитесь кнопки *Меню*.
1. Коснитесь *QR Коды*.
1. Коснитесь *Просканировать BridgeQR*.
1. Просканируйте QR код, показанный ниже. Это автоматически настроит Orbot, чтобы он подключался к этому серверу, используя подключаемый транспорт obfs4:

   ![QR-код obfs4 для Tor](/tor/tor-obfs4-qr-code.png)
1. Вам нужно перезапустить Orbot, чтобы изменения заработали. Коснитесь кнопки *Меню*, выберите *Выход* и запустите Orbot снова.
1. Выполните долгое нажатие по кнопке включения, чтобы Orbot заработал.

Отлично! Orbot теперь соединен с сервером-мостом *{{ tor_bridge_nickname.stdout }}*!

Теперь вы готовы к настройке Twitte и Firefox для того, чтобы они пропускали трафик через Orbot.

#### Настройка Twitter на Android для использования Orbot №№№№
1. Откройте Twitter
1. Коснитесь трех точек в верхнем правом углу экрана, чтобы открыть меню.
1. Выберите *Настройки*.
1. Выберите *Общие*.
1. Выберите *Прокси*.
1. Поставьте галочку *Включить HTTP-прокси*.
1. Коснитесь поля *Хост прокси* и введите `127.0.0.1`.
1. Коснитесь поля *Порт прокси* и введите `8118`.

#### Настройка Firefox на Android для использования Orbot №№№№
1. Откройте Firefox.
1. В адресной строке введите `about:config` и нажмите кнопку перехода на клавиатуре.
1. Введите `proxy` в строку поиска.
1. Установите значение *network.proxy.socks* в `127.0.0.1`.
1. Установите значение *network.proxy.socks_port* в `9050`.
1. Установите значение *network.proxy.socks\_remote\_dns* в `true`.
1. Установите значение *network.proxy.type* в `1`.

<a name="ios"></a>
### iOS ###
1. Скачайте [Onion Browser](https://itunes.apple.com/us/app/onion-browser/id519296448?mt=8) и запустите его.
1. Коснитесь кнопки меню внизу экрана и выберите *Настройки браузера*.
1. Пролистайте вниз и нажмите *Настроить мосты*.
1. Коснитесь пункта *Ввести собственные мосты*.
1. Коснитесь значка камеры в левом нижнем углу. Вам может понадобиться разрешить доступ к камере для Onion Browser в Настройках iOS.
1. Просканируйте QR код, показанный ниже. Это автоматически настроит Onion Browser, чтобы он подключался к этому серверу, используя подключаемый транспорт obfs4:

   ![Tor obfs4 QR code](/tor/tor-obfs4-qr-code.png)
1. Коснитесь *OK* в диалоге подтверждения.
1. Нажмите *Сохранить*.
1. Нажмите *Перезапустить приложение*.
1. Перезапустите приложение. Если вы подключились успешно, значит мост *{{ tor_bridge_nickname.stdout }}* работает штатно, и ваш зашифрованный трафик полностью изменен с помощью obfsproxy так, что он совсем не выглядит как трафик Tor!
